*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Happy Monkey", sans-serif;
}
p{
color:#665ecb;
margin: auto 0px;
display: inner-flex;
font-size: 22px;
border-radius: 6px;
padding: 10px;
background-image: url('bg.jpg');
background-size:cover;
}
body{

    background-color: #f1d96a;
    width: 180px;
    height: 100px;
    display: flex;
    justify-content: center;
}